@media (max-width: 1341px) {
    .container {
        max-width: 1200px;
    }

    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {
        padding-top: 60px;

        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 20px;
            row-gap: 10px;
        }

        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            column-gap: 20px;

            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }

    }

    @media (max-width: 992px) {
        .container {
            max-width: 720px;
        }

        .menu {
            &__block {
                width: 45%;
                padding-left: 20px;
                padding-top: 40px;
            }

            &__social {
                bottom: 20px;
            }

            &__list {
                margin-top: 50px;
            }
        }

        .about {
            &__wrapper {
                grid-template-columns: 300px 380px;
            }

            &__skills {
                grid-template-columns: 380px;
                grid-auto-rows: minmax(115px, auto);

                &-item {
                    grid-template-columns: 40px 310px;
                    column-gap: 14px;
                }
            }

            &__text {
                padding-top: 10px;
                font-size: 12px;
                line-height: 18px;
            }
        }

        .title {
            &_fz36black {
                font-size: 26px;
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            max-width: 540px;
        }

        .title {
            &_fz16 {
                font-size: 14px;
            }

            &_fz48 {
                font-size: 24px;
            }
        }

        .promo {
            padding-top: 120px;

            &__title {
                width: 300px;
                line-height: 32px;
            }

            &__btns {
                .btn {
                    padding: 10px 16px;
                    font-size: 14px;
                }

                .btn_not {
                    font-size: 14px;
                    margin-left: 29px;
                }
            }
        }

        .about {
            padding-top: 44px;

            &__wrapper {
                grid-template: 400px auto auto / 1fr;
            }

            &__photo {
                display: grid;
                justify-content: center;
                //grid-row: unset;
                //grid-template-columns: 1fr;
            }

            &__skills {
                grid-template-columns: repeat(2, 260px);

                &-item {
                    grid-template-columns: 40px 200px;
                    column-gap: 20px;
                }
            }
        }

        .menu {
            &__block {
                width: 60%;
                padding-left: 20px;
            }
        }

    }

    @media (max-width: 576px) {
        .container {
            width: 100%;
            padding: 0 10px;
        }

        .menu {
            &__block {
                width: 80%;
                padding-left: 20px;
            }

            &__link {
                font-size: 16px;
            }

            &__list {
                margin-top: 50px;
            }
        }

        .about {
            &__wrapper {
                grid-template: 340px auto auto / 1fr;
            }

            &__skills {
                grid-template-columns: 1fr;
            }
            &__photo {
                //display: grid;
                //justify-content: center;
                //grid-row: unset;
                grid-template-columns: 1fr;
                
            }
        }

        .title {
            &_fz36black {
            font-size: 20px;
        }
        } 


    }

    @media (max-width: 380px) {
        .container {
            padding: 0 14px;
        }

        .promo {
            padding-top: 120px;

            &__title {
                margin-top: 50px;
            }

            &__btns {
                margin-top: 60px;
                width: 280px;
                justify-content: space-around;
            }
        }

        .title {

            &_fz16 {
                font-size: 12px;

            }

            &_fz48 {
                font-size: 22px;
            }
        }

        .menu {
            &__close {
                left: 260px;
            }

            &__block {
                width: 85%;
                padding-top: 90px;
            }

            &__link {
                font-size: 18px;

                &::before {
                    top: 7px;
                }
            }
        }
    }

    @media (max-width: 322px) {
        .container {
            padding: 0 14px;
        }

        .menu {
            &__close {
                left: 260px;
            }

            &__block {
                width: 100%;
                padding-top: 90px;
            }
        }
    }
}