@media (max-width: 1341px) {
    .container {
        max-width: 1200px;
    }

    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {
        padding-top: 60px;

        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 20px;
            row-gap: 10px;
        }

        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            column-gap: 20px;

            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }

    .resume {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
    }

    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }

        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }

    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 34px;

            .horizontal,
            .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }

    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
        }

        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    //.menu {
    //    &__block {
    //        width: 45%;
    //        padding-left: 20px;
    //        padding-top: 40px;
    //    }
    //    &__social {
    //        bottom: 20px;
    //    }
    //    &__list {
    //        margin-top: 50px;
    //    }
    //}
    .divider {
        margin: 0 auto;
    }

    .title {
        &_fz36black {
            font-size: 26px;
        }
    }

    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }

        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);

            &-item {
                grid-template-columns: 40px 310px;
                column-gap: 14px;
            }
        }

        &__text {
            padding-top: 10px;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .resume {
        &__wrapper {
            column-gap: 60px;
            grid-template-columns: repeat(2, 320px);
        }
    }

    .skills {
        &__items {
            padding: 0 20px;
        }

        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;

            &-line {
                width: 100%;
            }
        }
    }

    .portfolio {
        padding-top: 40px;
    }

    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }

        .divider {
            margin-top: 15px;
        }
    }
    .contacts {
        padding: 50px 0 50px 0;
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        margin-top: 100px;
    }

    .title {
        &_fz16 {
            font-size: 14px;
        }

        &_fz48 {
            font-size: 24px;
        }
    }

    .promo {
        padding-top: 120px;
        background: url('../../img/main_bg.jpg') no-repeat 40%/cover;

        &__title {
            width: 300px;
            line-height: 32px;
        }

        &__btns {
            .btn {
                padding: 10px 16px;
                font-size: 14px;
            }

            .btn_not {
                font-size: 14px;
                margin-left: 29px;
            }
        }
    }

    .about {
        padding-top: 44px;

        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }

        &__photo {
            display: grid;
            justify-content: center;
        }

        &__skills {
            grid-template-columns: repeat(2, 260px);

            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 30px;
                justify-content: center;
            }
        }
    }

    .resume {
        .container {
            margin-top: 20px;
        }

        padding-top: 10px;

        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }

    .skills {
        .container {
            margin-top: 10px;
        }

        padding-top: 10px;

        &__items {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }

        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;

            &-line {
                width: 100%;
            }
        }
    }

    //.menu {
    //    &__block {
    //        width: 60%;
    //        padding-left: 20px;
    //    }
    //}
    .portfolio {
        .container {
            margin-top: 30px;
        }
    }

    .price {
        .container {
            margin-top: 10px;
        }

        &__wrapper {
            margin-top: 24px;
            padding-top: 0;
            grid-template-columns: repeat(auto-fit, 310px);
            justify-content: center;
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }

        &__link {
            font-size: 16px;
        }

        &__list {
            margin-top: 50px;
        }
    }

    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }

        &__skills {
            grid-template-columns: 1fr;
        }


    }

    .title {
        &_fz36black {
            font-size: 20px;
        }
    }

    .resume {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
    }

    .skills {
        &__items {
            margin-top: 20px;
        }

        &__ratings {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .contacts {
        padding-bottom: 0;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 250px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}



@media (max-width: 380px) {
    .container {
        padding: 0 14px;
    }

    .promo {
        padding-top: 120px;

        &__title {
            margin-top: 50px;
        }

        &__btns {
            margin-top: 60px;
            width: 280px;
            justify-content: space-around;
        }
    }

    .title {

        &_fz16 {
            font-size: 12px;

        }

        &_fz48 {
            font-size: 22px;
        }
    }

    .menu {
        &__close {
            left: 260px;
        }

        &__block {
            width: 85%;
            padding-top: 90px;
        }

        &__link {
            font-size: 18px;

            &::before {
                top: 7px;
            }
        }
    }
}

@media (max-width: 322px) {
    .container {
        padding: 0 14px;
    }

    .menu {
        &__close {
            left: 260px;
        }

        &__block {
            width: 100%;
            padding-top: 90px;
        }
    }
    .modal {
        &__close {
            top: -20px;
            right: 0;
        }
    }
}